.DS_Store
my-app/node_modules/
my-app/dist/
my-app/npm-debug.log*
my-app/yarn-debug.log*
my-app/yarn-error.log*
my-app/test/unit/coverage/
my-app/test/e2e/reports/
my-app/selenium-debug.log

mysql/data/

dockers/

rabbitmq/data/
rabbitmq/logs/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.evn.js
*.log
